@model IEnumerable<cakecastle.Models.CakeDesc>
<!--
    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cake.CakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CakesDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cake.CakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CakesDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CakeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CakeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CakeID })
        </td>
    </tr>
}

</table>

    -->
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cake11.jpg" alt="Sponge Chocolate Cake" width="300" height="200">
            <div class="caption">
                <h3>Sponge Chocolate Cake</h3>
                <p>The Sponge Chocolate Cake is...eudBJDNCSIOHbwfhvgugdHKBCS SVGHWLNSCN GFIWodajnz nvdgfhdajnzcxvhdgefffbhknafifjfajvofj ubfkschbfkhcgichbfn </p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cake9.jpg" alt="Stuffed Sponge Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cake12.jpg" alt="Fruit Sponge Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

</div>
<hr><hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef0.jpg" alt="Fruit Cake with Strawberry Wafres" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef1.jpg" alt="Fruite Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef2.jpg" alt="Sandwitch Fruit Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

</div>
<hr><hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakec0.jpg" alt="Coffee Cake with Nuts" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakec1.jpg" alt="Classic Coffee Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakec2.jpg" alt="Coffee Cake with Caramel" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

</div>
<hr><hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef0.jpg" alt="Floral Wedding Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef1.jpg" alt="Indian Wedding Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/cakef2.jpg" alt="Buttercream Wedding Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

</div>
<hr><hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/caket0.jpg" alt="Underwater Theme Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/caket1.jpg" alt="80's Theme Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Assets/Images/caket3.jpg" alt="Car Theme Cake" width="300" height="200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <h4>Price : $150</h4>
            </div>
        </div>
    </div>

</div>
